.details-container {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 90vh;
  background-size: cover;
  background-position: contain;
  color: white;
}

.poster-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(51, 51, 51);
  background: linear-gradient(
    180deg,
    rgba(51, 51, 51) 0%,
    rgba(51, 51, 51) 5%,
    rgba(51, 51, 51, 0.7) 100%
  );
}

.detail-trailer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  height: 50vh;
}

.detail-title-container button {
  width: 200px;
  height: 25px;
}

.detail-trailer-title {
  height: 5vh;
  font-size: 1.2rem;
  margin-top: 10px;
}

.detail-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  min-height: 15vh;
  font-size: 1.3rem;
  letter-spacing: 2px;
  margin-top: 10px;
}

.detail-overview-container {
  width: 60%;
  min-height: 10vh;
  margin: 10px 0px 20px 0px;
  padding: 10px;
}

.detail-cast-container {
  display: flex;

  flex-wrap: wrap;
  width: 70%;
  min-height: 50vh;
}

.cast-container {
  display: flex;
  flex-direction: column;
  width: 150px;
  height: 250px;

  margin: auto;
  margin-bottom: 20px;
}

.cast-image-container {
  display: flex;
  width: 100%;
  height: 80%;
}

.cast-image {
  width: 100%;
  height: 100%;
  border-radius: 25px;
}
.cast-names {
  text-align: center;
  width: 100%;
  min-height: 20%;
  margin-top: 5px;
}

.detail-similar-container {
  display: flex;
  width: 60%;
  min-height: 50vh;
}

.detail-trailer-container,
.detail-title-container,
.detail-overview-container,
.detail-cast-container,
.detail-similar-container {
  z-index: 5;
}

.detail-title,
.detail-rate {
  font-weight: bold;
}

.detail-genres {
  display: flex;
  min-width: 300px;
  justify-content: space-between;
  font-size: 14px;
  color: tomato;
}
