.movie-details-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 10px;
}

.poster {
  width: 30%;
}

.movie-details-container img {
  width: 100%;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
}

.movie-details-container button {
  width: 100px;
  height: 30px;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  font-size: 1.1rem;
}
