.movie-details {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  background-color: #4b4453;
  min-width: 60%;
  height: 89vh;
  border-radius: 25px;
  margin-top: 5px;
}

.details-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 100%;
}

.poster {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 600px;
}

.poster img {
  width: 100%;
  min-height: 100%;
  background-position: center;
  background-size: cover;
}

.fragman-details-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 600px;
  margin-left: 10px;
}

/* .fragman {
  width: 100%;
  height: 40%;
} */

.details {
  width: 100%;
  height: 40%;
}

.button-container {
  display: flex;
  width: 100%;
}

.button {
  min-width: 60px;
  height: 30px;
  background: #ff6f91;
  border: 1px solid white;
  border-radius: 25px;
  cursor: pointer;
  margin-right: 5px;
  padding: 3px 10px 3px 10px;
}

.button:hover {
  background: #4b4453;
}

@media screen and (max-width: 1024px) {
  .movie-details {
    min-height: 89vh;
  }

  .details-container {
    flex-direction: column;
  }

  .poster {
    display: flex;
    align-self: center;
    justify-content: center;
  }

  .poster img {
    width: 250px;
    min-height: 50%;
  }
}

@media screen and (max-width: 450px) {
  .movie-details {
    width: 100%;
    min-height: 100%;
  }
}

@media screen and (max-width: 375px) {
  .poster {
    width: 100%;
  }
  .poster img {
    width: 75%;
  }
}
@media screen and (max-width: 320px) {
  .poster img {
    width: 60%;
  }

  .fragman-details-container {
    font-size: 0.8rem;
    height: 100%;
  }
}
