.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
}

.pagination button {
  width: 100px;
  background-color: #ff6f91;
  border: none;
  border-radius: 25px;
}

.pagination button:hover {
  background-color: #4b4453;
}

.pagination span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  font-weight: 900;
}
